body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/curls.png");
}

.container-fluid {
    padding: 0;
    background-color: white;
    margin-bottom: 20px;
}


.row {
    margin: 0 auto;
}

.no-padding {
    padding: 0px;
}

.remove-header-padding {
    padding: 15px;
    margin: 0;
}

.top-bar {
    background-color: white;
    margin: 0 0 20px 0;
}

li.nav-item {
    padding: 0;
    text-align: center;
}

.nav li a {
    padding: 24px 15px;
    color: #4aaaa5;
}

aside hr {
    max-width: 300px;
    margin-left: 0;
}

.img-padding{
    padding: 5px 2px;
} 

h1 {
    background-color: #4aaaa5;
    text-align: center;
}

h2 {
    color: #4aaaa5;
}

main article {
    margin-bottom: 20px;
    background-color: white;
    line-height: 2em;
}

#aside-head {
    font-size: 25px;
    color: #4aaaa5;
    padding-top: 25px;
    text-align: center;
}

main aside {
    background-color: white;
    margin-bottom: 75px;
}


div img {
    padding: 15px 15px 15px 0;
}

#index-img {
    float: left;
}

a img {
    width: 100%;
    padding: 0px;
}


footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    font-size: 10px;
    padding: 10px 0 10px 0;
    height: 30px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    text-align: center;
}

footer.row {
   margin: 0;
}

#textbox {
    margin-bottom: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

div img {
    padding-left: 15px;
}

#port-article {
    margin-bottom: 35px;
}